%html
  %head
    %title
      = apprentice.name + " "
      | Software Development Shops seeking Apprentices | Apprentice Us!
    %link{href: "/stylesheet.css", media: "screen", rel: "stylesheet", type: "text/css"}    
  %body
    %h1
      %a{href: "/"} Apprentice Us  
    %blockquote{cite: "http://apprenticeship-patterns.labs.oreilly.com/ch01.html"}
      Apprenticeship makes a difference because it instills a lifelong passion to master the craft. It instills a passion for perpetual learning and, in the process, enables the apprentice to become a great developer.
      .attribution
        Pete McBreen,
        %a{href: "http://www.mcbreen.ab.ca/SoftwareCraftsmanship/"} Software Craftsmanship
    %h2= apprentice.name
    %a{href: apprentice.url}
      %img{src: apprentice.image, alt: apprentice.name}
    .apprenticeship_description= apprentice.apprenticeship_description
    .apprenticeship_shop
      %a{href: "/shops/" + apprentice.shop.slug}
        %img{src: apprentice.shop.logo, alt: apprentice.shop.name, height: "40px"}
    