%html
  %head
    %title Software Development Shops seeking Apprentices | Apprentice Us!
    %link{href: "/stylesheet.css", media: "screen", rel: "stylesheet", type: "text/css"}
  %body
    %h1 Apprentice Us
    %blockquote{cite: "http://downlode.org/Etext/Patterns/ptn83.html"}
      The fundamental learning situation is one in which a person learns by helping someone who really knows what he is doing.
      .attribution
        Christopher Alexander et al.,
        %a{href: "http://www.amazon.com/Pattern-Language-Buildings-Construction-Environmental/dp/0195019199"} A Pattern Language
    %h2 Shops Looking for Apprentices
    %ul#shops
      - each shop in shops
        %li
          %a{href: "/shops/" + shop.slug}
            %img{src: shop.logo, alt: shop.name, height: "60px"}
    %h2 Successful Apprenticeships
    %ul#apprentices
      - each apprentice in apprentices
        %li
          %a{href: "/apprentices/" + apprentice.slug}
            %img{src: apprentice.image, alt: apprentice.name}
    %h2 Learn more about Apprenticeship
    %a{href: "http://apprenticeship-patterns.labs.oreilly.com"}
      %img{src: "http://redsquirrel.com/dave/ApprenticeshipPatternsCover.jpg", height: "120px"}
    %h3 Contribute
    .contribute
      If you have any ideas to make this site better, let us know by
      %a{href: "http://github.com/redsquirrel/apprentice-us"} forking the project on Github
      and sending in a pull request. :)
    %br
    %br