%html
  %head
    %title Software Development Shops seeking Apprentices | Apprentice Us!
  %body
    %h1 Apprentice Us
    %h2 Shops Looking for Apprentices
    %ul#shops
      - each shop in shops
        %li
          %a{href: "/shops/" + shop.slug}
            %img{src: shop.logo, alt: shop.name, height: "60px"}
    %h2 Successful Apprenticeships
    %ul#apprentices
      - each apprentice in apprentices
        %li
          %a{href: "/apprentices/" + apprentice.slug}
            %img{src: apprentice.image, alt: apprentice.name}
          %a{href: "/apprentices/" + apprentice.slug}
            = apprentice.name
    %h2 Learn more about Apprenticeship
    %a{href: "http://apprenticeship-patterns.labs.oreilly.com"}
      %img{src: "http://redsquirrel.com/dave/ApprenticeshipPatternsCover.jpg"}
    %h3 Contribute
    .contribute
      If you have any ideas to make this site better, let us know by
      %a{href: "http://github.com/redsquirrel/apprentice-us"} forking the project on Github
      and sending in a pull request. :)