blockquote {
  border-left: solid 4px black;
  padding-left: 5px;
  float: right;
  width: 25%;
  min-width: 200px;
}

ul {
  padding: 0;
  margin: 0;  
}

li {
  padding: 5px;
  list-style-type: none;
  display: inline;
}

